
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


<form action="" method="post" id="createForm">

    <div class="form-group">

        <label>Title</label>
        <input name="Title" class="form-control" placeholder="Enter Title">

    </div>
    <div class="form-group">

        <label>Description</label>
        <input name="Description" class="form-control" placeholder="Enter Description">

    </div>
    <div class="form-group">

        <label>ActualAmount</label>
        <input name="ActualAmount" class="form-control" placeholder="Enter Actual Amount">

    </div>
    <div class="form-group">

        <label>StartingTime</label>
        <input name="StartingTime" class="form-control" placeholder="Enter StartingTime">

    </div>
    <div class="form-group">

        <label>EndingTime</label>
        <input name="EndingTime" class="form-control" placeholder="Enter EndingTime">

    </div>
 
    <button id="saveButton" type="submit" class="btn btn-primary">Submit</button>
</form>

<script>

    $("#saveButton").click(function () {

        debugger;
        $.ajax({
            url: "@Url.Action("Create","Auction")",
            type: "Post",
            data: $("#createForm").serialize()
        }).done(function (response) {
            debugger
            $("#listingArea").html(response);
        });
    });
</script>