@model DealDash.Entities.Auction

<h2>Delete</h2>

<h2>Are you Sure You Wanat to Delete this Record</h2>

<form method="post">
    <input name="ID" value="@Model.ID" type="hidden" />
    <Button>Submit</Button>
</form>