@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<div id="listingArea">
    <div>
        @{ Html.RenderAction("Listing");}
    </div>
    
    <button type="button" id="createButton" class="btn btn-success" data-toggle="modal" data-target="#formModal">AddNewRecord</button>

    
</div>


<!-- Modal -->
<div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-hidden="true">

    <div class="modal-dialog" role="document">
        <div class="modal-content" id="contentArea">

        </div>
    </div>
</div>

<script>

    $("#createButton").click(function () {

        $.ajax({
            url: "@Url.Action("Create","Auction")",
            type:"GET"
        }).done(function (response) {
            $("#contentArea").html(response);
        });
    });

</script>